*{
    padding: 0px; margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.clearfix{
    display:block; content: ''; clear: both;
}

#wrap{
    width: 100%;
    margin: auto;
}

/*header*/

#header{
    position: relative;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white; font-size: 50px;
    background-color: cornflowerblue;
}

#header>i{
    position: absolute; right: 30px;
    text-align: right;
    font-size: 40px;
    padding: 10px;
    border: 5px solid white;
}

/*menu*/
.mainmenu{
    display: none;
}

/*content*/

#content{
    width: 95%;
    margin: auto;
}

#content div{
    border: solid 1px black;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}

/*footer*/

#footer{
    width: 95%;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}


/*mobile_layout*//*mobile_layout*/

@media(min-width:1400px){
    
    #wrap{
        width: 1400px;
        margin: auto;
    }
    
/*header*/
    #header>i{
        display: none;
    }
    
    
/*menu*/
    .mainmenu{
            display: block;
        }

        .mainmenu>li>a{
        text-decoration: underline;
        font-size: 20px;
    }

    .mainmenu a{
        color: black;
        width: 200px;
        display: block;
        padding: 10px;
    }

    .mainmenu>li{
        text-align: center; 
        float: left;
        position: relative;
    }

    .submenu{
        position: absolute; top: 46px;
        background-color: white;
    }

    .submenu>li{
        display: none;
    }
    
/*content*/    
    #content{
        width: 1300px;
        margin: auto;
        display: flex;
    }

    #content div{
        border: solid 1px black;
        width: 50%; height: 200px;
        padding: 10px;
    }

    
}