html, body{
    border: none;
}

*{
    border: 1px solid black;
    box-sizing: border-box;
    margin:0; padding:0;
}

#id1{
    border: none;
    /*flex-wrap: row wrap;
    flex-direction:row; (왼>오 정렬)+flex-wrap:wrap;(줄바꿈)*/
    display: flex;
    width: 700px;
    min-width: 500px;
    margin: auto;
    padding: 10px;
}

.class1{
    flex-grow: 1;
    display: flex;
    padding: 5px;
    width: 1px;
}

.class1>div{
    position: relative;
    border: none;
    width: 100px; height: 50px;
    display: flex;
    margin: auto;
}

.class1>div>div{
    width: 50px; height: 50px;
    border-radius: 50px;
}

.class1>div>div:nth-child(1){
    background-color: yellow;
    position: absolute; left: 50px;
}

.class1>div>div:nth-child(2){
    background-color: blue;
    position: absolute; left: 25px;
}

.class1>div>div:nth-child(3){
    background-color: red;
    position: absolute;
}


#id2{
    margin: 5px;
    padding: 0px 20px;
    border: 1px solid red;
    min-width: 810px;
    list-style: none; /*메뉴목록 점점점 없애는 효과*/
    display: flex;
    
}

li{
    padding: 5px;
    margin: auto;
    border: none;
}


#id3{
    display: flex;
    margin: auto;
    border: none;
}

#id3>div{
    border: none;
}

#id3>div:nth-child(1), #id3>div:nth-child(3){
    position: relative;
    flex-grow: 1;
    width: 1px;
}

#id3>div:nth-child(2){
    width: 700px;
    min-width: 500px;    
}

#id3>div>div{
    margin: 5px;
}

.class2{
    position: fixed;
    width: 85px;
}

#id3>div:nth-child(3)>div:nth-child(2){
    position: absolute; top: 200px;
}

